body
{
  text-align: center;
}
table
{
  margin: auto;
  width: 90%;
  max-width: 360px;
}

th
{
  border-style: solid;
  width: 30%;
  height: 110px;
  font-size: 4.5em;
}

div
{
  width: 90%;
  max-width: 360px;
  margin: auto;
}

#symbol, #players, #gameBoard
{
  display: none;
}

p.playerName
{
  display: inline-block;
  margin: 20px 25px;
}

p#Player1
{
  text-shadow: 2px 2px 8px green;
}

#resetBTN
{
  display: none;
  margin: 10px auto;
}
