table
{
  margin: auto;
  width: 90%;
  max-width: 360px;
}

th
{
  border-style: solid;
  width: 30%;
  height: 110px;
  font-size: 4.5em;
}

p {
  text-align: center;
}

#resetBTN {
  display: none;
  margin: 10px auto;
}
